.navLinks {
    font-size: 16px;
    font-family: Verdana;
}

#topLogo {
    width: 125px;
    height: 100px;
}

.wrapper {
    font-family: Helvetica, Arial, sans-serif;
}

.thumbnail {
    border: none;
}

.promotionWrapper {
    padding: 5px;
    margin: 20px;
}

.promotionElement {
    position: relative;
    border: 1px dashed #ccc;
    margin-bottom: 20px;
}

.promotionElement p {
    font-size: 16px;
    font-family: "Arial Black", Arial, sans-serif;
    text-decoration: none;
}

.imgPromo {
    position: relative;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}