#wrapperTop {
    width: 100%;
    background-color: #101010;
    font-family: Helvetica, Arial, sans-serif;
    color: #cccccc;
    padding: 5px;
}

#wrapperTop a {
    color: white;
    text-decoration: none;
}

#wrapperTop a:hover {
    color: #05F;
}

#wrapperTop .btn {
    width: 130px;
    height: 35px;
    margin: 3px;
}

#topLogo {
    width: 125px;
    height: 100px;
}

.wrapper {
    font-family: Helvetica, Arial, sans-serif;
}

.thumbnail {
    border: none;
}

.promotionWrapper {
    padding: 5px;
    margin: 20px;
}

.promotionElement {
    position: relative;
    border: 1px;
    border-color: #cccccc;
    border-style: dashed;
    margin-bottom: 20px;
}

.promotionElement p {
    font-size: 16px;
    font-family: "Arial Black", Arial, sans-serif;
    text-decoration: none;
}

.imgPromo {
    position: relative;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}